* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: white; */
    background-image: url(../img/hinh-anh-tau-hoa-2.jpg);
    background-size: cover;
}

.login {
    width: 30%;
    margin: auto;
    margin-top: 80px;
    border: 1px double black;
    border-radius: 5px;
    background-color: rgb(241, 238, 241);
}

.login h2 {
    margin-top: 20px;
    text-align: center;
}

.border {
    /* background-color: aquamarine; */
    margin: auto;
    padding: 30px;
}

.border * {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login .border #Uname,
#passW,
#login {
    width: 90%;
}

.login .border label {
    font-size: large;
}

button {
    margin: auto;
    font-size: medium;
    border-style: inset;
}