* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/hinh-anh-tau-hoa-2.jpg);
    background-size: cover;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 70% 30%;
}

header #logo {
    margin-top: 10px;
    margin-left: 40px;
   background-color:aqua;
}

header label {
    font-size: 40px;
    margin-left: 20px;
}

header .the-link {
    margin-top: 75px;
    font-size: 20px;
    font-weight: bold;
}

header .the-link a {
    text-decoration: none;
    margin-right: 30px;
}

.form-dk {
    border-radius: 5px;
    background-color: rgb(241, 238, 241);
    margin-top: 50px;
    margin-right: 10%;
    float: right;
    width: 30%;
    border: 1px double black;
}

.form-tt {
    display: inline-grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}

span {
    margin: 20px 10px 10px 10px;
}

input {
    width: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.form-nut {
    float: right;
    margin: 20px;
}

.form-nut button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
/*     
@media only screen and (max-width: 768px) {
    .form-dk {
        width: 100% !important;
    }
} */